<div class="offcanvas-flex_container" data-id="VAR_ID">
    <a href="view_item.html?id=VAR_ID">
        <img src="VAR_IMG" alt="VAR_TITLE">
    </a>
    <div class="info-container">
        <a href="view_item.html?id=VAR_ID">
            <h6 class="product-name">VAR_TITLE</h6>
        </a>
        <div class="add-remove_item">
            <button class="p-0">
                <span class="icon-minus item-qty" data-direction="-" data-id="VAR_ID"></span>
            </button>
            <strong class="m-0 amount-items">VAR_QTY</strong>
            <button class="p-0">
                <span class="icon-plus item-qty" data-direction="+" data-id="VAR_ID"></span>
            </button>
        </div>
    </div>
    <div class="price-container">
        <span class="icon-close cart-remove" data-id="VAR_ID"></span>
        <p>£VAR_PRICE</p>
    </div>
</div>