<div class="time-box">
  <div>
    <span data-container="days" class="countdown">565</span>
    <span class="block-box">days</span>
  </div>
  <div>
    <span data-container="hours" class="countdown">08</span>
    <span class="block-box">hours</span>
  </div>
  <div>
    <span data-container="mins" class="countdown">07</span>
    <span class="block-box">mins</span>
  </div>
  <div>
    <span data-container="secs" class="countdown">25</span>
    <span class="block-box">secs</span>
  </div>
</div>