<div class="grid" data-timer="VAR_TIMER" data-sale="VAR_SALE" data-discount="VAR_DISCOUNT">
    <div class="img-container">
        <a href="view_item.html?id=VAR_ID" target="_blank">
            <img class="img-style_template" loading="lazy"
                 src="VAR_IMG"
                 alt="VAR_TITLE">
        </a>
    </div>
    <div class="info-container">
        <div class="flex-stars">
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
            <span class="icon-star"></span>
        </div>
        <div>
            <h3 class="product-name">
                <a href="view_item.html?id=VAR_ID" target="_blank">VAR_TITLE</a>
            </h3>
            <p class="product-price">£VAR_PRICE</p>
        </div>
    </div>
</div>