<div class="grid-area" data-id="VAR_ID">
    <div class="blocks-position">
        <div>
            <a href="view_item.html?id=VAR_ID" target="_blank">
                <img class="img-style lazy" loading="lazy"
                     src="VAR_IMG"
                     alt="VAR_TITLE">
            </a>
            <div class="flex-links">
                <div class="icon-button add-to-cart" data-bs-toggle="tooltip" title="Add to Cart" data-id="VAR_ID">
                    <div class="icon-bag">
                        <a href="#"></a>
                    </div>
                </div>
                <div class="icon-button" data-bs-toggle="tooltip" title="Wishlist">
                    <div class="icon-like">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-container">
            <div class="flex-stars">
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
            </div>
            <div>
                <h3 class="product-name">
                    <a href="view_item.html?id=VAR_ID" target="_blank">VAR_TITLE</a>
                </h3>
                <p class="product-price">£VAR_PRICE</p>
            </div>
        </div>
    </div>
</div>